/* For compatibility with the Remaining Time add-on */
#qa {
    padding-top: 2rem !important;
}

/* For compatibility with the Massive Cloze notetype */
.header {
    padding: 4rem 0 !important;
}

#counter-bar {
    height: 32px;
    display: flex;
    flex-direction: row;
    border: solid grey 1px;
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 100;
    width: 100%;
    background: white;
    line-height: 1rem;
}

#counter-bar .progress {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgb(255, 179, 179);
    animation-name: progress;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes progress {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

#counter-bar .progress.green {
    background: rgb(174, 255, 127);
}

#counter-bar .item {
    flex-basis: 50%;
    text-align: left;
    margin: 0px;
    padding-block: 8px;
    font-size: 16px;
}

#counter-bar .counter {
    text-align: start;
    padding-inline-start: 8px;
}

#counter-bar .countdown {
    text-align: center;
}

#counter-bar .loops {
    padding-inline-end: 8px;
    text-align: end;
}
